<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kosmo.pse.mapper.AdminMapper">
	<resultMap type="edu.kosmo.pse.vo.ProductVO" id="productMap">
		<result property="productId" column="product_id" />
		<result property="productName" column="product_name" />
		<result property="categoryId" column="category_id" />
		<result property="brand" column="brand" />
		<result property="weight" column="weight" />
		<result property="count" column="count" />
		<result property="productPrice" column="product_price" />
		<result property="updateDate" column="update_date" />
		<result property="cellCount" column="cell_count" />
		<result property="stock" column="stock" />
		<result property="categoryName" column="category_name" />
		<!-- <collection property="images" resultMap="imageMap"></collection> -->
	</resultMap>

<!-- 	<resultMap type="edu.kosmo.pse.vo.ProductImageVO"
		id="imageMap">
		<result property="imgId" column="img_id" />
		<result property="productId" column="product_id" />
		<result property="imgName" column="img_name" />
		<result property="imgExtension" column="img_extension" />
		<result property="imgPath" column="img_path" />
	</resultMap> -->

	<resultMap type="edu.kosmo.pse.vo.ProductCategoryVO"
		id="categoryMap">
		<result property="categoryId" column="category_id" />
		<result property="categoryName" column="category_name" />
	</resultMap>
	
<!-- 	<select id="getProductList" resultMap="productMap">
		SELECT p.product_id,
		p.product_name, p.category_id, p.brand,
		p.weight, p.count, p.product_price, p.update_date, p.cell_count,
		p.stock, c.category_name FROM product p
		LEFT JOIN product_category c ON p.category_id = c.category_id
		ORDER BY p.product_id DESC
	</select> -->
	
	
	<select id="getProductList" resultMap="productMap">
		<![CDATA[
			SELECT * FROM (
	              SELECT ROWNUM AS RNUM, A.* FROM (
	                       SELECT p.product_id,
			p.product_name, p.category_id, p.brand,
			p.weight, p.count, p.product_price, p.update_date, p.cell_count,
			p.stock, c.category_name FROM product p
			LEFT JOIN product_category c ON p.category_id = c.category_id
			ORDER BY p.product_id DESC   
	             ) A WHERE ROWNUM <= #{pageNum} * 10
	         ) WHERE RNUM > (#{pageNum}-1) * 10
	    ]]>     
	</select>
	
	
	<select id="getProduct" resultMap="productMap">
		SELECT p.product_id, p.product_name, p.category_id, p.brand,
		p.weight, p.count, p.product_price, p.update_date, p.cell_count,
		p.stock, c.category_name FROM product p 
		LEFT JOIN product_category c ON p.category_id = c.category_id
		WHERE p.product_id = #{productId}
	</select>

	<insert id="insertProduct">
		INSERT INTO product VALUES 
		(PRODUCT_SEQ.nextval, #{productName}, #{categoryId}, #{brand}, 
		#{weight}, #{count}, #{productPrice}, SYSDATE, 0, #{stock})
	</insert>
	
	<update id="updateProduct">
		UPDATE product SET product_name = #{productName}, category_id = #{categoryId}, 
		brand = #{brand}, weight = #{weight}, count = #{count}, product_price = #{productPrice}, 
		stock = #{stock} WHERE product_id = #{productId}
	</update>
	
	<!-- 
	<insert id="insertProductImg">
		INSERT INTO product_image VALUES (IMG_SEQ.nextval, #{productId}, #{imgName}, #{imgExtension}, #{imgPath})
	</insert>
	-->

</mapper>	