<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kosmo.pse.mapper.OrderMapper">
	<resultMap type="edu.kosmo.pse.vo.CartVO" id="CartMap">
		<result property="cartId" column="cart_id" />
		<result property="productId" column="product_id" />
		<result property="cartAmount" column="cart_amount" />
		<result property="cartPrice" column="cart_price" />
		<result property="cartInDate" column="cart_in_date" />
		<result property="userId" column="user_id" />
		<result property="productName" column="product_Name" />
		<result property="weight" column="weight" />
		<result property="productPrice" column="product_price" />
		<!-- <collection property="images" resultMap="imageMap"></collection> -->
	</resultMap>

<!-- 	<resultMap type="edu.kosmo.pse.vo.ProductImageVO"
		id="imageMap">
		<result property="imgId" column="img_id" />
		<result property="productId" column="product_id" />
		<result property="imgName" column="img_name" />
		<result property="imgExtension" column="img_extension" />
		<result property="imgPath" column="img_path" />
	</resultMap> -->

	
	<select id="getCartList" resultMap="CartMap">
		SELECT c.cart_id, c.product_id, c.cart_amount, c.cart_price, 
		c.cart_in_date, c.user_id, p.product_name, p.weight, p.product_price 
		FROM cart c LEFT JOIN product p ON c.product_id = p.product_id
		WHERE c.user_id = #{userId} ORDER BY c.cart_in_date DESC 
	</select>
	
	<select id="getInCartProduct" resultMap="CartMap" parameterType="map">
		SELECT c.cart_id, c.product_id, c.cart_amount, c.cart_price, 
		c.cart_in_date, c.user_id, p.product_name, p.weight, p.product_price 
		FROM cart c LEFT JOIN product p ON c.product_id = p.product_id
		WHERE c.product_id = #{productId} AND c.user_id = #{userId} 
	</select>
	
	<insert id="insertCart" parameterType="map">
		INSERT INTO cart VALUES (CART_SEQ.nextval, #{productId}, 
		1, #{cartPrice}, SYSDATE, #{userId})	
	</insert>
	
	<update id="updateCart" parameterType="map">
		UPDATE cart SET cart_amount = #{cartAmount}, 
		cart_price = #{cartPrice} WHERE user_id = #{userId} And product_id = #{productId}
	</update>


	
	<!--
	<select id="getProductList" resultMap="productMap">
		<![CDATA[
			SELECT * FROM (
	              SELECT ROWNUM AS RNUM, A.* FROM (
	                       SELECT p.product_id,
			p.product_name, p.category_id, p.brand,
			p.weight, p.count, p.product_price, p.update_date, p.cell_count,
			p.stock, c.category_name FROM product p
			LEFT JOIN product_category c ON p.category_id = c.category_id
			ORDER BY p.product_id DESC   
	             ) A WHERE ROWNUM <= #{pageNum} * 10
	         ) WHERE RNUM > (#{pageNum}-1) * 10
	    ]]>     
	</select>
	-->
	



</mapper>	